.DetailPage {
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background: #dee2e6;
}

.DetailPage .displayFlexStyle {
    display: flex;
}
.DetailPage .flex-1 {
    flex: 1;
}

.DetailPage .linkArea {
    margin-top: 10px;
    text-align: right;
    padding-top: 10px;
    border-top: 1px solid grey;
}
